.modal-body {
    color: white;
    background-color: black;
}

.modal-title {
    color: black;
    background-color: white;
}

.modal-footer {
    background-color: black;
    color: white;
    border-radius: 0%;
}

.modal-content {
    border-radius: 0%;
}