// .images-section {
//   margin-top: 50px;
// }

// .containers-section {
//   margin-top: 50px;
// }

// div for main images table 
.images--list {
  width: 75%;
  float: left;
}

// div for main images table
.containers--list {
  width: 75%;
  float: left;
}

.networks--list {
  width: 75%;
  float: left;
}

.volumes--list {
  width: 75%;
  float: left;
}

.configs--list {
  width: 75%;
  float: left;
}

.secrets--list {
  width: 75%;
  float: left;
}

.services--list {
  width: 75%;
  float: left;
}

/* common table style */
// table {
//   height: 100%;
//   width: 100%;
//   table-layout: fixed;
//   font-size: 20px;
// }

.tbl-header {
  background-color: white;
}

th {
  // padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

td {
  // padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: white;
  // border-bottom: solid 1px rgba(255,255,255,0.1);
}

.page-link  {
  background-color: black;
  color: white;
  border: 0;
  z-index: 3;
}

.page-item {
  z-index: 3;
}

.pagination {
  --bs-pagination-border-radius: 0px;
  --bs-pagination-hover-color: black;
  --bs-pagination-color: black;
  --bs-pagination-focus-color: black;
  --bs-pagination-active-border-color: black;
  --bs-pagination-active-bg: black;
  --bs-pagination-focus-box-shadow: 0;
}

.active>.page-link, .page-link.active {
  background-color: white;
  // background-color: black;
  color: black;
  // border: 2px;
  border-color: white;
}

.react-bootstrap-table-page-btns-ul {
  width: 100px;
}

// .main-table {
//   margin-top: 30px;
//   width: 100%;
// }

// .main-table-content {
//   display: block;
//   height: 500px;
//   overflow:auto;
// }

// .main-table-header, .main-table-content tr {
//   display: table;
//   width: 100%;
//   table-layout: fixed;
// }

// .main-table-header {
//   width: calc( 100% - 1em ) /* scrollbar is average 1em/16px width, outside table */
// }

// images
// main images table hosts overflow in sidebar
.images-main-table-host-body, .images-main-table-tags-header, .images-main-table-host-header, .images-main-table-repotags-body {
  position: relative;
  z-index: 1;
  // background: white;
}

.images-main-table-host-body, .images-main-table-host-header {
  width: 150px;
  z-index: 1;
}

.images-main-table-tags-header {
  width: 180px;
}

.images-main-table-host-body {
  position: relative;
  overflow: hidden;
  text-align: left;
  font-size: 15px;
  z-index: 1;
}

.images-main-table-tags-header, .images-main-table-host-header {
  background: white !important;
}

// containers
.container-actions {
  width: 380px;
  white-space: nowrap;
}

.container-actions button {
  width: 16px;
  font-size: 15px;
  z-index: 0;
}

.container-status-td, .container-status-th {
  width: 120px;
}

.action-img {
  width: 16px;
  height: 16px;
}

.ace_gutter-layer, .ace_gutter-cell  {
  color: black;
  background-color: white;
}

.editor {
  color: white;
  background-color: black;
  overflow-y: auto;
  overflow-x: auto;
}

.ace_line {
  pointer-events: auto;
}

.ace_line:hover {
  background-color: rgb(129, 129, 129);
}

.ace_gutter-active-line {
  background-color: rgb(129, 129, 129);
}


#refresh-element:hover img {
  content: url("../../images/restart.png");
}

// images for container actions
#remove_container:hover img {
  content: url("../../images/remove.png");
  // transform: scale(1.1);
}

#terminal_container:hover img {
  content: url("../../images/terminal.png");
  // transform: scale(1.1);
}

#stop_container:hover img {
  content: url("../../images/stop.png");
  // transform: scale(1.1);
}

#restart_container:hover img {
  content: url("../../images/restart.png");
  // transform: scale(1.1);
}

#kill_container:hover img {
  content: url("../../images/kill.png");
  // transform: scale(1.1);
}

#pause_container:hover img {
  content: url("../../images/pause.png");
  // transform: scale(1.1);
}

#resume_container:hover img {
  content: url("../../images/resume.png");
  // transform: scale(1.1);
}

#start_container:hover img {
  content: url("../../images/start.png");
  // transform: scale(1.1);
}

// modal
.modal-backdrop {
  background-color: 'rgba(255,255,255,0.5)';
}



