[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
redis = "*"
celery = "*"
requests = "*"
docker = "*"
hurry.filesize = "*"

[dev-packages]

[requires]
python_version = "3.8.10"
